// ---------------------------------------------------------------------
//  Base Global Styles
// ---------------------------------------------------------------------

html,
body {
    height: 100%;
    font-size: 62.5%;
}

body,
input,
button,
select,
textarea {
    font-family: $main-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    color: $gray-dark;

    @include stop-at($small) {
        font-size: 1.5rem;
    }
}

a,
.a {
    color: inherit;
    text-decoration: none;
    transition: all $transition;

    &:hover {
        cursor: pointer;
    }
}

a[href^="tel:"] {

    &:hover {
        cursor: default;
    }
}

[data-scroll-to],
[data-click-target] {
    cursor: pointer;
}


img {
    height: auto;
    max-width: 100%;
    display: block;
}

svg {
    display: block;
    transition: all $trans;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

::selection {
    background: rgba($purple, 0.8)
}

::-moz-selection {
    background: rgba($purple, 0.8)
}
