// ---------------------------------------------------------------------
//  Typography Styles
// ---------------------------------------------------------------------


// ----------------------------------------
// Heading Mixins
// ----------------------------------------

@mixin base-heading-styles {
    display: block;
    font-family: $heading;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}


@mixin h1 {
    @include base-heading-styles;
    font-size: 3.8rem;
    line-height: 1;
    letter-spacing: 3px;
    margin-bottom: 10px;

    @include start-at($medium) {
        font-size: 4.2rem;
        //line-height: 1.85;
        margin-bottom: 15px;
    }
}

@mixin h2 {
    @include base-heading-styles;
    font-size: 2.6rem;
    letter-spacing: 2px;
    line-height: 1.333;
    margin-bottom: 5px;

    @include start-at($medium) {
        font-size: 3.0rem;
    }
}

@mixin h3 {
    @include base-heading-styles;
    font-size: 2.0rem;
    line-height: 1.85;

    @include start-at($medium) {
        font-size: 2.4rem;
    }
}

@mixin h4 {
    @include base-heading-styles;
    font-size: 1.8rem;
    line-height: 1.85;

    @include start-at($medium) {
        font-size: 2.0rem;
    }
}

@mixin h5 {
    @include base-heading-styles;
    font-size: 1.7rem;
    line-height: 1.85;
}

@mixin h6 {
    @include base-heading-styles;
    font-size: 1.5rem;
    line-height: 2;
}




// ----------------------------------------
// Headings
// ----------------------------------------

.h1 {
    @include h1;
}

.h2 {
    @include h2;

    + p {
        margin-top: 20px;
    }
}

.h3 {
    @include h3;

    + p {
        margin-top: 10px;
    }
}

.h4 {
    @include h4;
}

.h5 {
    @include h5;
}

.h6 {
    @include h6;
}


// ----------------------------------------
// Paragraph Styles
// ----------------------------------------

@mixin para {
    display: block;
    font-family: $sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

@mixin p-lg {
    font-size: 2.0rem;
    line-height: 1.5;
    font-weight: 400;

    @include start-at($medium) {
        font-size: 2.4rem;
    }
}

@mixin p-sm {
    display: block;
    font-family: $sans-serif;
    font-size: 1.5rem;
    line-height: 1.43;
}

.p,
p {
    @include para;

    a {
        text-decoration: underline;
    }

    + .btn,
    + .icon-link {
        margin-top: 30px;
    }

    @include stop-at($small) {
        font-size: 1.5rem;
    }
}

.p-lg,
.lead {
    @include p-lg;
}

.p-sm,
small {
  @include p-sm;
}


// ----------------------------------------
// Type Utilities
// ----------------------------------------

.text-560 {
    max-width: 560px;
}

.text-bold {
    font-weight: 700;
}

.text-md {
    font-weight: 500;
}

.text-italic {
    font-style: italic;
}

.text-white {
    color: $white;
}

.text-flush {
    margin-bottom: 0;
    margin-top: 0;
}

.text-gradient {
    display: inline-block;
    background-image: $gradient-all;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.isIE .text-gradient {
    background-image: none;
    color: $orange;
}

address {
    font-style: italic;
}


.user-content {

    p + p,
    p + ul {
        margin-top: 20px;
    }

    * + h1,
    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + h6 {
        margin-top: 30px;
    }
}


.user-content ul,
.faq ul {
    list-style-type: none;

    li + li {
        margin-top: 5px;
    }

    li:before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        width: 11px;
        height: 11px;
        background: url('../images/shapes/star.svg') center / cover no-repeat;
    }
}
