
<header class="site-header">
    <div class="container-wide">
        <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url">
                <span class="sr-only" itemprop="name">{{ site.title }}</span>
                <img src="/assets/images/GitHub-Universe.svg" alt="{{ site.title }} logo" />
            </a>
        </h1>
        <div class="site-header-panel">
            <nav class="site-navigation">
                <ul class="site-navigation-list">
                    <li class="mobile-only {% if page.url == "/" %}is-active{% endif %}">
						<a href="/">Home</a>
					</li>
					<li {% if page.url == "/program/" %}class="is-active"{% endif %}>
						<a href="/program/">Program</a>
					</li>
					<li {% if page.url == "/after-party/" %}class="is-active"{% endif %}>
						<a href="/after-party/">After Party</a>
					</li>
					<li {% if page.url == "/speakers/" %}class="is-active"{% endif %}>
						<a href="/speakers/">Speakers</a>
					</li>
					<li {% if page.url == "/experience/" %}class="is-active"{% endif %}>
						<a href="/experience/">Experience</a>
					</li>
                    <li class="mobile-only {% if page.url == "/faq/" %}is-active{% endif %}">
						<a href="/faq/">FAQ</a>
					</li>
                </ul>
            </nav>
        </div>

        <div class="site-header-cta">
            <a class="btn" href="">get tickets<span></span></a>
        </div>
    </div>
</header>
