---
layout: default
title: Experience
id: page-experience
permalink: /experience/
---

<div class="experience page" id="{{ page.id }}" data-detect-viewport="">

    <header class="experience-header">
        <div class="container container--thin">
            <h2 class="h1" data-animate-in="up">Experience</h2>
            <p data-animate-in="up" data-animate-in-delay="100">GitHub Universe takes place in the emerging creative community of Dogpatch along San Francisco Bay's waterfront. Once the home of an industrial shipyard, the neighborhood is now buzzing with local shops, designer studios, and nightlife that are all served by the Third Street light rail (T Line).</p>

            <nav class="experience-nav">
                <div>
                    <a class="icon-link" data-scroll-to="venues" data-scroll-offset="60">
                        <span class="h6">Venues</span>
                        <span><svg width="20" height="20"><use xlink:href="#shape-arrow-down"></use></svg></span>
                    </a>
                </div>
                <div>
                    <a class="icon-link" data-scroll-to="beyond-universe" data-scroll-offset="60">
                        <span class="h6">Beyond Universe</span>
                        <span><svg width="20" height="20"><use xlink:href="#shape-arrow-down"></use></svg></span>
                    </a>
                </div>
                <div>
                    <a class="icon-link" data-scroll-to="transportation" data-scroll-offset="60">
                        <span class="h6">Transportation</span>
                        <span><svg width="20" height="20"><use xlink:href="#shape-arrow-down"></use></svg></span>
                    </a>
                </div>
                <div>
                    <a class="icon-link" data-scroll-to="city-guide" data-scroll-offset="60">
                        <span class="h6">City Guide</span>
                        <span><svg width="20" height="20"><use xlink:href="#shape-arrow-down"></use></svg></span>
                    </a>
                </div>
            </nav>
        </div>

        <div class="experience-header__ft" data-scroll-to="venues" data-scroll-offset="60">
            <p class="h6">Learn More</p>
            <figure>
                <svg width="20" height="20"><use xlink:href="#shape-arrow-down"></use></svg>
            </figure>
        </div>
        {% include shapes.html %}
    </header>

    <section class="experience-section stars-fixed" id="venues">
        <header class="experience-section-header">
            <div class="container-wide">
                <h3 class="h1" data-animate-in="up">Venues</h3>
                <p data-animate-in="up" data-animate-in-delay="200">Pier 70 is part of the historic ship building and repair complex, and is now the center of a future National Historic District.</p>
            </div>
        </header>
        <div class="experience-section__bd">
            <div class="container section">
                <div class="table table--sm table--no-border text-white" data-animate-in="up">
                    <div class="table__col text-group">
                        <h3 class="h3">Main Event</h3>
                        <address>
                            Pier 70 <br />
                            420 22nd Street <br />
                            San Francisco, CA 94107
                        </address>
                        <div class="text-group__ft">
                            <a class="icon-link" href="https://goo.gl/maps/tjN1XLRu7K82">
                                <span class="h6">View Map</span>
                                <span><svg width="20" height="20"><use xlink:href="#shape-arrow-right"></use></svg></span>
                            </a>
                        </div>
                    </div>
                    <div class="table__col text-group">
                        <h3 class="h3">Workshops</h3>
                        <address>
                            Dogpatch Studios <br />
                            991 Tennessee St<br />
                            San Francisco, CA 94107
                        </address>
                        <div class="text-group__ft">
                            <a class="icon-link" href="https://goo.gl/maps/B8pRyiv17ES2">
                                <span class="h6">View Map</span>
                                <span><svg width="20" height="20"><use xlink:href="#shape-arrow-right"></use></svg></span>
                            </a>
                        </div>
                    </div>
                    <div class="table__col text-group">
                        <h3 class="h3">After Party</h3>
                        <address>
                            The Masonic<br />
                            1111 California St<br />
                            San Francisco, CA 94108
                        </address>
                        <div class="text-group__ft">
                            <a class="icon-link" href="https://goo.gl/maps/oi3cGzYXbRk">
                                <span class="h6">View Map</span>
                                <span><svg width="20" height="20"><use xlink:href="#shape-arrow-right"></use></svg></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="experience-section experience-section--pink stars-fixed" id="beyond-universe">
        <header class="experience-section-header">
            <div class="container-wide">
                <h3 class="h1" data-animate-in="up">Beyond Universe</h3>
                <p data-animate-in="up" data-animate-in-delay="200">In addition to GitHub Universe, a variety of other exciting developer events will take place throughout the week in San Francisco.</p>
            </div>
        </header>

        <div class="experience-section__bd">
            <div class="container section">
                <div class="table table--sm text-white" data-animate-in="up">
                    <div class="table__col table__col--full text-group">
                        <div class="media-object">
                            <figure>
                                <img src="/assets/images/sponsors/waffle-full.png" alt="Waffle.io" />
                            </figure>
                            <div class="text-group">
                                <div>
                                    <p class="h5 text-md">Tuesday October 10th, 7pm - 10pm</p>
                                    <h3 class="h3">Universe 2017 Pre-Party presented by Waffle.io</h3>
                                </div>
                                <p>Join the Waffle.io team for beers, snacks, swag and as much foosball as you can play to&nbsp;celebrate&nbsp;Universe.</p>
                                <p class="text-bold">Location: <a href="https://goo.gl/maps/dJaQmjRsZqR2" target="_blank">BuzzWorks</a></p>
                                <a class="icon-link" href="https://waffleio.typeform.com/to/lgo981" target="_blank">
                                    <span class="h6">Learn More</span>
                                    <span><svg width="20" height="20"><use xlink:href="#shape-arrow-right"></use></svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            {% include shooting-stars.html %}

        </div>

        <span class="shapes shapes--right" data-detect-viewport="">
            <span class="shape-1"><svg width="12" height="12"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-2"><svg width="10" height="10"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-3"><svg width="12" height="12"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-4"><svg width="16" height="16"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-5"><svg width="14" height="14"><use xlink:href="#shape-star"></use></svg></span>

            <span class="shape-6"><svg width="60" height="60"><use xlink:href="#shape-oval-thin"></use></svg></span>
            <span class="shape-7"><svg width="24" height="24"><use xlink:href="#shape-oval"></use></svg></span>
            <span class="shape-8"><svg width="16" height="16"><use xlink:href="#shape-oval"></use></svg></span>

            <span class="shape-9"><svg width="101" height="71"><use xlink:href="#shape-saturn"></use></svg></span>
        </span>

    </section>

    <section class="experience-section experience-section--purple stars-fixed" id="transportation">
        <header class="experience-section-header">
            <div class="container-wide">
                <h3 class="h1" data-animate-in="up">Transportation</h3>
                <p data-animate-in="up" data-animate-in-delay="200">We recommend that you use ride-sharing services, public transportation, or bikes to arrive at Pier 70. There is no parking available at the venue. The surrounding neighborhood has limited parking for its residents and local businesses.</p>
            </div>
        </header>

        <div class="experience-section__bd">
            <div class="container section">
                <div class="table table--sm text-white" data-animate-in="up">
                    <div class="table__col table__col--full text-group">
                        <div class="user-content">

                            <h3 class="h3">Public Transportation</h3>
                            <p>The San Francisco MTA T-Line runs directly through the Dogpatch neighborhood. Take the T-Line towards Sunnydale + Bayshore to the 3rd St. & 20th St. stop. Pier 70 is a 10 minute walk with plenty of signs to show the way. If you’re taking BART, you can switch to the T-Line at Embarcadero Station.</p>

                            <h3 class="h3">Ride-Sharing</h3>
                            <p>If you plan to travel by car, we recommend using ride-sharing services like Lyft and Uber. The address for Pier 70 is 420 22nd Street and you should tell your driver to approach via 22nd St (and not 20th St). There will be plenty of signs along the way too.</p>

                            <h3 class="h3">Bike</h3>
                            <p>Free valet bike parking is available at Pier 70.</p>
                        </div>
                    </div>
                </div>

            </div>

            {% include shooting-stars.html %}
        </div>

        <span class="shapes shapes--right" data-detect-viewport="">
            <span class="shape-1"><svg width="12" height="12"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-2"><svg width="10" height="10"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-3"><svg width="12" height="12"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-4"><svg width="16" height="16"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-5"><svg width="14" height="14"><use xlink:href="#shape-star"></use></svg></span>

            <span class="shape-6"><svg width="60" height="60"><use xlink:href="#shape-oval-thin"></use></svg></span>
            <span class="shape-7"><svg width="24" height="24"><use xlink:href="#shape-oval"></use></svg></span>
            <span class="shape-8"><svg width="16" height="16"><use xlink:href="#shape-oval"></use></svg></span>

            <span class="shape-9"><svg width="101" height="71"><use xlink:href="#shape-saturn"></use></svg></span>
        </span>

        {% include shooting-stars.html %}
    </section>

    <section class="experience-section experience-section--blue stars-fixed" id="city-guide">
        <header class="experience-section-header">
            <div class="container-wide">
                <h3 class="h1" data-animate-in="up">City Guide</h3>
                <p data-animate-in="up" data-animate-in-delay="200">San Francisco is a dynamic, thriving community, and one of the best food cities in the world. If traveling from out of town, we recommend that you stay a few extra days to experience the magic of Northern California.</p>
            </div>
        </header>

        <div class="experience-section__bd">
            <div class="container section">
                <div class="table table--sm table--full text-white" data-animate-in="up">
                    <div class="table__col table__col--full text-group">
                        <div class="user-content" data-animate-in="up">
                            <h3 class="h3">Where to stay</h3>
                            <p>The majority of San Francisco’s hotels are in the Union Square and SoMa neighborhoods. These areas have easy access to public transportation and plenty of activities while you aren’t at Universe. Unfortunately prices at San Francisco hotels can be notoriously high, and we recommend Airbnb as an alternative. If you plan to stay at a hotel, we request that you stay at a socially responsible hotel endorsed by fairhotel.org such as:</p>
                            <ul>
                                <li>
                                    Hyatt Regency San Francisco, 5 Embarcadero Center (<a href="https://goo.gl/maps/MzyoGK1wY742" target="_blank">Map</a>)
                                </li>
                                <li>
                                    Park Central Hotel, 50 Third Street (<a href="https://goo.gl/maps/ohWFXZcBU5A2" target="_blank">Map</a>)
                                </li>
                                <li>
                                    W San Francisco, 181 Third Street (<a href="https://goo.gl/maps/VY3HrbCaRTn" target="_blank">Map</a>)
                                </li>
                                <li>
                                    Hotel Vitale, 8 Mission Street (<a href="https://goo.gl/maps/SBNz5VtaSiR2" target="_blank">Map</a>)
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="table__col  text-group">
                        <div class="user-content" data-animate-in="up">
                            <h3 class="h3">Where to eat and drink</h3>
                            <p>San Francisco has been named one of the best food cities in the world with some of the most exciting trends in eating and drinking starting here. No visit to the city would be complete without visiting some of our favorites.</p>
                            <h4 class="h5" data-animate-in="up">Eat</h4>
                            <ul data-animate-in="up">
                                <li>
                                    Zuni Cafe, 1658 Market St
                                </li>
                                <li>
                                    Liholiho Yatch Club, 871 Sutter St
                                </li>
                                <li>
                                    Cala, 149 Fell St
                                </li>
                                <li>
                                    AL’s Place, 1499 Valencia St
                                </li>
                                <li>
                                    Nopa, 560 Divisadero St
                                </li>
                                <li>
                                    Akiko’s Restaurant & Sushi Bar, 431 Bush St
                                </li>
                                <li>
                                    Trou Normand, 140 New Montgomery St
                                </li>
                                <li>
                                    Leo’s Oyster Bar, 568 Sacramento St
                                </li>
                            </ul>

                            <h4 class="h5" data-animate-in="up">Drink</h4>
                            <ul data-animate-in="up">
                                <li>
                                    Blue Bottle Coffee, 1 Ferry Building & 5 other locations
                                </li>
                                <li>
                                    Sightglass Coffee, 270 7th St & 1 other location
                                </li>
                                <li>
                                    Réveille Coffee Co., 610 Long Bridge St & 3 other locations
                                </li>
                                <li>
                                    Four Barrel Coffee, 375 Valencia St
                                </li>
                                <li>
                                    Rye, 688 Geary St
                                </li>
                                <li>
                                    Whitechapel, 600 Polk St
                                </li>
                                <li>
                                    Tosca Cafe, 242 Columbus Ave
                                </li>
                                <li>
                                    The Treasury, 115 Sansome St
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="table__col  text-group">
                        <div class="user-content" data-animate-in="up">
                            <h3 class="h3">Where to meet and work</h3>
                            <p>With so many amazing people from the GitHub community in town for Universe, it would be a shame to miss an opportunity to get together and connect. You also might need some dedicated space to work before or after Universe, so you might try these cafes and coworking spaces.</p>
                            <ul data-animate-in="up">
                                <li>
                                    STEM Kitchen & Garden, 499 Illinois St
                                </li>
                                <li>
                                    Workshop Cafe, 180 Montgomery St
                                </li>
                                <li>
                                    Stable Cafe, 2128 Folsom St
                                </li>
                                <li>
                                    WeWork Transbay, 535 Mission St
                                </li>
                                <li>
                                    Galvanize, 44 Tehama St
                                </li>
                                <li>
                                    Bespoke, 845 Market St
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>



            </div>

            {% include shooting-stars.html %}
        </div>

        <span class="shapes shapes--right" data-detect-viewport="">
            <span class="shape-1"><svg width="12" height="12"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-2"><svg width="10" height="10"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-3"><svg width="12" height="12"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-4"><svg width="16" height="16"><use xlink:href="#shape-star"></use></svg></span>
            <span class="shape-5"><svg width="14" height="14"><use xlink:href="#shape-star"></use></svg></span>

            <span class="shape-6"><svg width="60" height="60"><use xlink:href="#shape-oval-thin"></use></svg></span>
            <span class="shape-7"><svg width="24" height="24"><use xlink:href="#shape-oval"></use></svg></span>
            <span class="shape-8"><svg width="16" height="16"><use xlink:href="#shape-oval"></use></svg></span>

            <span class="shape-9"><svg width="101" height="71"><use xlink:href="#shape-saturn"></use></svg></span>
        </span>

        {% include shooting-stars.html %}
    </section>

</div>
