// ---------------------------------------------------------------------
//  Container Styles
// ---------------------------------------------------------------------

.container {
    @include container;
}

.container-full {
    max-width: 100%;
    overflow: hidden;
}

.container-wide {
    @include container;
    max-width: 1440px;
}

// ----------------------------------------
// Extensions
// ----------------------------------------

.container--thin {
    max-width: 760px;
}

// ----------------------------------------
// Stars
// ----------------------------------------


@keyframes slowTurn {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}

.bg-universe {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before,
    &:after {
        position: absolute;
        width: 180%;
        height: 180%;
        left: -40%;
        top: -40%;
        content: '';
        background: url('../images/shapes/stars-sm.svg') center / 1140px 622px repeat;
        background-position: fixed;
        display: block;
        z-index: -1;
        transform-origin: center;
        opacity: 0.2;
        transition: transform 60s ease;
    }

    &:after {
        opacity: 0.2;
        background: url('../images/shapes/stars-lg.svg') center / 1140px 622px repeat;
    }

    &.in-view {

        &:before {
            animation: slowTurn 120s ease infinite;
        }

        &:after {
            animation: pulse 8s ease infinite;
        }
    }
}


// ----------------------------------------
//  Gradients
// ----------------------------------------

.gradient {
    position: relative;
}

.bg-colors {

    > * {
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0;
      transition: opacity 5s ease;
      z-index: -2;
    }

    > *.initial {
        transition: none
    }

    > *.is-active {
      opacity: 1;


    }
}

.bg-orange {
    background: $gradient-orange-pink;
}
.bg-purple {
    background: $gradient-purple-blue;
}
.bg-blue {
    background: $gradient-blue-green;
}
