<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META DATA -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
        <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

        <title>{{ site.title }} | {{ page.title }}</title>

        <!-- CSS -->
        <link rel="stylesheet" media="screen" href="/assets/css/main.css" />

        <!-- ICONS -->
        <link rel="shortcut icon" type="image/ico" href="/assets/images/favicons/favicon.png" />
        <link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon.png" />
        <link rel="icon" href="/assets/images/favicons/android-favicon.png">
    </head>

    <body class="page-loading {{ page.id }}">

        {% include header.html %}

        <main id="content" class="main page-content fade-in" aria-label="Content">

            {{ content }}

        </main>

        {% include footer.html %}

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/assets/js/main.js"></script>
    </body>
</html>
