// ---------------------------------------------------------------------
//  FAQ Styles
// ---------------------------------------------------------------------

.faq {
    position: relative;
    width: 945px;
    width: $container-percentage;
    margin: 0 auto;
    color: $white;
    border-radius: 6px;
    background: linear-gradient(135deg, #F79533 0%, #F37055 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    border-radius: 6px;

    + .faq {
        margin-top: 30px;
    }
}

.faq__question:hover, .faq__close:hover {
    cursor: pointer;
}

.faq__question {
    width: 100%;
    height: auto;
    padding: 20px 80px 20px 30px;
    border-radius: 6px;

    @include stop-at($small) {
        font-size: 1.8rem;
    }
}


.faq__answer {
    padding: 0px 30px 40px;

    > * + * {
        margin-top: 20px;
    }
}

// ----------------------------------------
// Close
// ----------------------------------------

.faq__close {
    position: absolute;
    right: 30px;
    top: 30px;
    transform: rotate(45deg);
    transition: transform $trans-long;

    @include stop-at($small) {
        top: 20px;
    }
}

.faq.is-active .faq__close {
    transform: rotate(360deg);
}


// ----------------------------------------
// Color List
// ----------------------------------------

.faqs {

    > *:nth-child(4n + 2) {
        background: linear-gradient(135deg, #F37055 0%, #EF4E7B 100%);
    }
    > *:nth-child(4n + 3) {
        background-image: linear-gradient(135deg, #5073B8 0%, #1098AD 100%);
    }
    > *:nth-child(4n + 4) {
        background-image: linear-gradient(135deg, #07B39B 0%, #6DBA82 100%);
    }
}

// ----------------------------------------
// FAQ Group
// ----------------------------------------
