// ---------------------------------------------------------------------
//  Speaker Styles
// ---------------------------------------------------------------------

.speakers {
    header {
        margin-bottom: 10px;
    }
}

.speaker-list  {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    > * {
        margin-bottom: 20px;
    }


    @include start-at($small) {

        > * {
            margin-right: 20px;
            margin-bottom: 20px;
        }

        > *:nth-child(2n + 2) {
            margin-right: 0;
        }
    }

    @include start-at($medium) {
        > *,
        > *:nth-child(2n + 2) {
            margin-right: 30px;
            margin-bottom: 30px;
        }

        > *:nth-child(3n + 3) {
            margin-right: 0;
        }
    }

    @include start-at($large) {
        > *,
        > *:nth-child(2n + 2),
        > *:nth-child(3n + 3) {
            margin-right: 20px;
            margin-bottom: 30px;
        }

        > *:nth-child(4n + 4) {
            margin-right: 0;
        }
    }
}


.speaker-preview {
    width: 100%;
    position: relative;
    z-index: 1;
    color: $white;
    transition: all $trans;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 300px;
        border: 1px solid $white;
        border-radius: 5px;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform $trans, opacity $trans;
        opacity: 0;
    }

    &:hover {
        cursor: pointer;

        &:before {
            transform: translate3d(5px,-5px,0);
            opacity: 1;
        }
        &:after {
            transform: translate3d(10px, 0, 0);
            opacity: 1;
        }
    }

    @include start-at($small) {
        width: calc(50% - 10px);
    }

    @include start-at($medium) {
        width: calc(33.33333333334% - 20px);
    }

    @include start-at($large) {
        width: calc(25% - 15px);
    }

    .speaker-preview__info {
        width: 100%;
        padding: 25px 0;


        > * {
            width: 100%;
        }
    }

    .speaker-preview__image {
        position: relative;
        width: 100%;
        height: 300px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
        transition: transform $trans;
        transform: translate3d(0, 0, 0);
    }
}



.speaker-preview:hover {
    .speaker-preview__image {
        transform: translate3d(0, -10px, 0);
    }
}

.speaker-name {
    margin-bottom: 4px;
    line-height: 1;

    + p {
        margin-top: 0;
    }
}

// ----------------------------------------
// Mpeaker Images
// ----------------------------------------
.speaker-preview .speaker-preview__image,
.speaker-image {
    height: 300px;
    border-radius: 5px;
    overflow: hidden;

    img {
        filter: grayscale(50%);
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(-135deg, #F37055 0%, #EF4E7B 52%, #A166AB 100%);
        z-index: 1;
        position: absolute;
        mix-blend-mode: multiply;
        opacity: 0.7;
    }
}


.speaker-list,
.speaker-modals {
    > *:nth-child(1n + 1) {
        .speaker-preview__image:after,
        .speaker-image:after {
            background: linear-gradient(-135deg, #F79533 0%, #F37055 51%, #EF4E7B 100%);
            opacity: 0.7;
        }
    }

    > *:nth-child(1n + 5) {
        .speaker-preview__image:after,
        .speaker-image:after {
            background: linear-gradient(-135deg, #F79533 0%, #F37055 51%, #EF4E7B 100%);
            opacity: 0.7;
        }
    }

    > *:nth-child(1n + 9) {
        .speaker-preview__image:after,
        .speaker-image:after {
            background: $gradient-purple-blue;
            opacity: 0.7;
        }
    }

    > *:nth-child(1n + 13) {
        .speaker-preview__image:after,
        .speaker-image:after {
            background: $gradient-blue-green;
            opacity: 0.7;
        }
    }
}



// ----------------------------------------
// Modal
// ----------------------------------------

.speaker {
    width: 100%;
    color: $white;

    @media(min-width: $medium) {
		display: flex;
		align-items: stretch;
	}
}
.speaker--single {
    @media(min-width: $small) {
		display: flex;
		align-items: stretch;
	}
}

.speaker-profile {
    width: 100%;
    color: $white;

    padding: 15px;

    @media (min-width: $medium) {
        padding: 50px 30px;
    }


    @media(min-width: $medium) {
        max-width: 400px;
    }

    .speaker-image {
        width: 100%;
        position: relative;
        height: 300px;
    }

    .speaker-info {
        &:before {
            content: '';
            display: block;
            width: 60px;
            height: 1px;
            //background: $white;
            margin-bottom: 20px;
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;

        > * {
            margin-right: 10px;
        }

        a {
            position: relative;
            display: block;
            transition: opacity $transition;
            color: $white;
            z-index: 1;
            width: 36px;
            height: 36px;

            &:after {
                content: '';
                display: block;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                background: linear-gradient(-135deg, #A166AB 0%, #5073B8 54%, #1098AD 100%);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:hover {
                opacity: 0.5;
            }

            &.GitHub {
                svg {
                    position: absolute;
                    bottom: -1px;
                    left: 6px;
                }
            }
        }

        svg {
            fill: $gray-dark;
        }
    }
}

.speaker-modal-content {
    padding: 0 15px 60px;

    .talk-info > * {
        margin-bottom: 5px;
        line-height: 1;
    }

    > * > * + * {
        margin-top: 30px;
    }

    @media(min-width: $medium) {
        width: 60%;
        padding: 50px 40px 50px 0;
    }
}



// ----------------------------------------
// Multiple Speakers
// ----------------------------------------

.speaker-profiles {
    display: flex;
    flex-grow: 1;
    //background: $black;
}

.speaker--single {

    .speaker-profiles {
        min-width: 40%;
    }

}


.speaker-image-wrap {
    overflow: hidden;
    width: 100%;
    padding-top:100%;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        position: absolute;
        object-fit: cover;
        width:100%;
        height:100%;
    }
}

@media (max-width: $medium) {
    .isIE .speaker-image-wrap {
        img {
            object-fit: none;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            max-width: 200%;
        }
    }
}
