// ---------------------------------------------------------------------
//  Tabs
// ---------------------------------------------------------------------

.tabs {
    //overflow: hidden;
}

.tabs--3up .tabs__tabs > * {
    width: 33.33333%;
}



// ----------------------------------------
// Tab Tab
// ----------------------------------------

.tabs__tabs {
    display: flex;
    align-items: baseline;
}

.tabs__tabs > * {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: 30px;
    position: relative;

    @include stop-at($small) {
        > * {
            font-size: 95%;
        }
    }

    &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background: url('../images/shapes/star.svg') center / cover no-repeat;
        margin: 0 auto 15px;
        transform-origin: center;
        transform: scale(0);
        transition: transform 0.2s ease-in;
    }

    > * {
        line-height: 1.3;
        font-weight: 400;
    }

    opacity: 0.8;
    color: $white;
    transition: all $transition;

    &:hover {
        cursor: pointer;
        opacity: 1;

        &:before {
            transform: scale(1);
        }
    }

    &.is-active  {
        opacity: 1;

        > * {
            font-weight: 700;
        }

        &:before {
            transform: scale(1);
        }
    }
}


// ----------------------------------------
// Tab Body
// ----------------------------------------

.tabs__content {
    width: 100%;
    background: $gray-dark;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    border-radius: 6px;
}


.tabs__content > * {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    color: $white;
    opacity: 0;
    transition: opacity $transition;
    display: none;

    padding: 40px $container-padding;

    @include start-at($medium) {
        padding: 60px 100px;
    }

    &.is-active {
        display: block;
        opacity: 1;

        .shape {
            transform: scale(0.5) rotate(0);

            @include start-at($medium) {
                transform: scale(1) rotate(0);
            }
        }
    }

    .shape {
        position: absolute;
        top: 10px;
        right: 00px;
        transition: transform $trans;
        transform-origin: center;
        transform: scale(0) rotate(-20deg);
        opacity: 0.7;

        @include start-at($medium) {
            top: 30px;
            right: 30px;
            opacity: 1;
        }
    }
}
