// ---------------------------------------------------------------------
//  Universe Styles
// ---------------------------------------------------------------------


.universe-intro {
    position: relative;
    display: flex;
    align-items: center;
    background: $gray-dark;

    padding: 60px 0 150px;

    @media (min-height: 650px) {
        min-height: calc(100vh - 70px);
        padding: 60px 0 120px;
    }

    &:before {
        opacity: 0.2;
    }

    .universe-intro__content {
        display: inline-block;
        background: $gray-dark;
        border-radius: 40px;
    }

    @include stop-at($small) {
        .h2 {
            font-size: 2.0rem;
        }
    }
}


// ---------------------------------
//  Logo
// ---------------------------------

@keyframes fadeLogo {
    0% {
        opacity: 1;
        z-index: 2;
    }
    99% {
        opacity: 0;
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.universe-logo-wrap {
    position: relative;
    margin: 0 auto 50px;

    &.in-view {
        .universe-logo-white {
            animation: fadeLogo 2s ease 1s 1 backwards;
            opacity: 0;
            z-index: -1;
        }
    }
}

.universe-logo {
    display: block;
    max-width: 330px;
    width: 90%;
}

.isIE .universe-logo {
    background: url('../images/GitHub-Universe-full.png') center / cover no-repeat;

    img {
        opacity: 0;
    }
}

.universe-logo-white {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity $trans-long;
    z-index: 2;
}

.isIE .universe-logo-white {
    display: none;
}


// ---------------------------------
//  Alert
// ---------------------------------

.universe-intro__alert {
    width: 100%;
    min-height: 60px;
    padding: 10px 0;
    background: rgba(black, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform $trans-long;

    .container {
        position: relative;
        padding-right: 40px;
        color: $white;
    }

    p {
        font-size: 1.4rem;
    }

    &.is-active {
        transform: translateY(0);
    }
}

.universe-intro__alert__close {
    position: absolute;
    right: 0;
    top: calc(50% - 10px);

    svg {
        fill: $white;
    }
}
